<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="my" targetRuntime="MyBatis3">

        <!-- 自动识别数据库关键字，默认false，如果设置为true，根据SqlReservedWords中定义的关键字列表；
       一般保留默认值，遇到数据库关键字（Java关键字），使用columnOverride覆盖
    -->
        <property name="autoDelimitKeywords" value="true"/>
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!-- 重新生成的时候该属性为true表示是覆盖，false为追加，默认为false -->
        <property name="mergeable" value="true"></property>
        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://172.26.12.120:3306/easy"
                        userId="root"
                        password="root"/>

        <javaModelGenerator targetPackage="com.easy.ai.model"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.easy.ai.mapper"
                             targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="tb_project" domainObjectName="Project"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

        <table tableName="tb_project_module" domainObjectName="ProjectModule"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

        <table tableName="tb_project_version_info" domainObjectName="ProjectVersionInfo"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

        <!--<table  tableName="TB_USER"  domainObjectName="User"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_USER_ROLE"  domainObjectName="UserRole"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_ROLE"  domainObjectName="Role"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_RESOURCES"  domainObjectName="Resources"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_ROLE_RESOURCES"  domainObjectName="RoleResources"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_AUDIO_CASE"  domainObjectName="TtsAudioCase"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_MOS_TEMPLATE"  domainObjectName="MosTemplate"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_MOS_SYS_FILE"  domainObjectName="MosSysFile"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_MOS_SYSTEM"  domainObjectName="TtsMosSystem"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_MOS_CASE"  domainObjectName="TtsMosCase"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_SYS_SCORE"  domainObjectName="TtsSysScore"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_MOS_CASE_SYS_PARAM"  domainObjectName="MosCaseSysParam"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_MOS_TASK"  domainObjectName="TtsMosTask"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->


        <!--<table  tableName="TB_PROJECTS_MODULES"  domainObjectName="ProjectModules"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_JOB"  domainObjectName="Job"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_PRESSURE_CASE"  domainObjectName="PressureCase"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_PRESSURE_RESULT"  domainObjectName="PressureResult"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TASK_TEMPLATE"  domainObjectName="TaskTemplate"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_FILE_MANAGER"  domainObjectName="FileManager"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_PROJECT"  domainObjectName="Project"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_RESULT_INFO"  domainObjectName="ResultInfo"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TASK_RESULT"  domainObjectName="TaskResult"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TASK_INFO"  domainObjectName="TaskInfo"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_STEPS"  domainObjectName="Steps"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_PARAMETER_TRANSFER"  domainObjectName="ParameterTransfer"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_SYS_CONFIG"  domainObjectName="SysConfig"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS"  domainObjectName="Tts"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_ASR"  domainObjectName="Asr"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_TTS_RESULT"  domainObjectName="TtsResult"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_ASR"  domainObjectName="Asr"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_ASR_RESULT"  domainObjectName="AsrResult"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_SPEECH"  domainObjectName="Speech"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="TB_CHECK_SKILL_RESULT"  domainObjectName="CheckResult"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="QRTZ_TRIGGERS"  domainObjectName="QrtzTriggers"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table  tableName="QRTZ_FIRED_TRIGGERS"  domainObjectName="QrtzFiredTriggers"-->
        <!--enableCountByExample="false"   enableUpdateByExample="false"-->
        <!--enableDeleteByExample="false"  enableSelectByExample="false"-->
        <!--selectByExampleQueryId="false">-->
        <!--</table>-->


    </context>
</generatorConfiguration>